h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;

}

p, span {
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  padding: 20px 80px;
}


a {
  text-decoration: none;
  color: #89325F;
}

* {
  box-sizing: border-box;
}