.StripeCheckout {
  transform: scale(1.5);
  margin-top: 50px;
  margin-left: auto;
  @media (max-width:800px) {
    transform: scale(.75);
    margin-top: 25px;
  }
}

.payment-successful{
  text-align: center;
  color: #89325F;
}